@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  /* Primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --Very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --Very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  --font-padrao: 'Outfit', sans-serif;

  /* Margin */
  --margin-peq: 0.875rem; /* 14px */
  --margin-med: 1rem; /* 16px */
  --margin-gr: 1.5rem; /* 24px */
  --margin-xxl: 2rem; /* 32px */
  
  /* Padding */
  --padding-peq: 0.875rem; /* 14px */
  --padding-med: 1rem; /* 16px */
  --padding-gr: 1.5rem; /* 24px */
  --padding-xxl: 2rem; /* 32px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-padrao);
}

body {
    height: 100vh;
    background-color: var(--Very-dark-blue-main-bg);
    color: #fff;
}

/* Main */
main {
    background-color: var(--Very-dark-blue-card-bg);
    width: 90%;
    margin: var(--margin-xxl) auto;
    border-radius: 20px;
    overflow: hidden;
}

/* Main img */
main .img {
    margin-top: var(--margin-gr);
    text-align: center;
}

main .img img{
    max-width: 90%;
    border-radius: 10px;
}

/* Text Card */
#text-card {
    margin: var(--margin-gr);
    border-bottom: 1px solid var(--Very-dark-blue-line);
}

#text-card .text h1 {
    font-weight: 400;
    margin-bottom: var(--margin-peq);
}

#text-card .text p {
    color: var(--Soft-blue);
}

/* ETH Timer */
#text-card .eth-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: var(--margin-peq) 0;
}

#text-card .eth-timer .eth p {
    color: var(--Cyan);
    font-weight: 700;
    letter-spacing: 1px;
}

#text-card .eth-timer .timer {
    color: var(--Soft-blue);
}

/* User */
#user{
    margin: var(--margin-gr);
}

#user .user-data {
    display: flex;
    align-items: center;
    gap: 10px;
}

#user .user-data span {
    color: var(--Soft-blue);
}

#user .user-data img {
    width: 15%;
    border: 2px solid #fff;
    border-radius: 50%;
}
/* Footer */
footer .attribution {
  font-size: 1rem;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}
